*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/codeStyles
/.idea/dictionaries
/.idea/libraries
/.idea/inspectionProfiles
/.idea/inspectionProfiles/Project_Default.xml
/.idea/artifacts
/.idea/artifacts/multiplatform_jvm.xml
/.idea/artifacts/multiplatform_junit_1_0_0.xml
/.idea/artifacts/multiplatform_jvm_1_0_0.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/encodings.xml
/.idea/compiler.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/assetWizardSettings.xml
/.idea/kotlinScripting.xml
.DS_Store
/build
/captures/
